{{#> plantilla}}
    <div class="tarjeta-contenedor">
        <div>Continente: {{arr}}</div>
        <div>País: {{"Estados Unidos"}}</div>
        <div>Capital: {{"Luanda"}}</div>
    </div>
{{/plantilla}}
