{{#> plantilla1}}
    <div class="tarjeta-contenedor">
        <div>Continente: {{"Africa"}}</div>
        <div>País: {{"Estados Unidos"}}</div>
        <div>Capital: {{"Luanda"}}</div>
    </div>
{{/plantilla1}}